<ion-view>
    <ion-nav-title>{{txtFields.header}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="mt20">
        <form ng-submit="docFuncs.buttonAction()">
            <div class="list">
                <label class="item item-input item-icon-left">
                    <i class="icon ion-person"></i>
                    <span class="input-label ml35">Name</span>
                    <input type="text" placeholder="Dr. John" required ng-model="doctor.name">
                </label>
                <label class="item item-input item-icon-left">
                    <i class="icon ion-card"></i>
                    <span class="input-label ml35">Address</span>
                    <input type="text" placeholder="Aundh" required ng-model="doctor.address">
                </label>
                <label class="item item-input item-icon-left">
                    <i class="icon ion-ios7-telephone"></i>
                    <span class="input-label ml35">Phone</span>
                    <input type="tel" placeholder="9876543210" required ng-model="doctor.phone">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">{{txtFields.buttonTxt}}</button>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" href="#/app/doctors">
                <i class="icon ion-ios7-home positive"></i>
                Doctors
            </a>
        </div>
    </ion-footer-bar>
</ion-view>