<ion-view>
    <ion-nav-title>{{txtFields.header}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="mt20">
        <form ng-submit="patFuncs.buttonAction()">
            <div class="list">
                <label class="item item-input item-icon-left">
                    <i class="icon ion-person"></i>
                    <span class="input-label ml35">Name</span>
                    <input type="text" placeholder="John" required ng-model="patient.name">
                </label>
                <label class="item item-input item-icon-left">
                    <i class="icon ion-medkit"></i>
                    <span class="input-label ml35">Illness</span>
                    <input type="text" placeholder="Sickness" required ng-model="patient.illness">
                </label>
                <label class="item item-input item-icon-left">
                    <i class="icon ion-calendar"></i>
                    <span class="input-label ml35">Start Date</span>
                    <input type="date" required ng-model="patient.startDate">
                </label>
                <label class="item item-input item-icon-left">
                    <i class="icon ion-ios7-telephone"></i>
                    <span class="input-label ml35">Phone</span>
                    <input type="tel" placeholder="9876543210" required ng-model="patient.phone">
                </label>
                <label class="item item-input item-icon-left">
                    <i class="icon ion-cash"></i>
                    <span class="input-label ml35">Fees</span>
                    <input type="tel" placeholder="Treatment Fees" required ng-model="patient.fees">
                </label>
                <label class="item item-input item-icon-left">
                    <i class="icon ion-ios7-pie-outline"></i>
                    <span class="input-label ml35">Share</span>
                    <input type="tel" placeholder="Doctor's Share" required ng-model="patient.share">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">{{txtFields.buttonTxt}}</button>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" href="#/app/doctors">
                <i class="icon ion-ios7-home positive"></i>
                Doctors
            </a>
            <a class="tab-item" href="#/app/doctor-patients/{{doctorInde}}">
                <i class="icon ion-ios7-home positive"></i>
                Patients
            </a>
        </div>
    </ion-footer-bar>
</ion-view>