<ion-header-bar class="bar bar-positive">
    <a href="#/patientDetails/{{patientInd}}/{{doctorIndex}}" class="button button-icon ion-ios7-arrow-back">
    </a>
    <h1 class="title ml70">Add Transaction</h1>
</ion-header-bar>
<ion-content class="mt20">
    <ion-view view-title="AddDoctor">
        <form name="form" ng-submit="addTxn()">
            <div class="list">
                    <ion-toggle ng-model="txn.payment" toggle-class="toggle-positive">Txn Type (Payment / Receipt)</ion-toggle>
                <label class="item item-input">
                    <span class="input-label">Txn Date</span>
                    <input type="tel" placeholder="12-12-2012" ng-required="true" ng-model="txn.date">
                </label>
                <label class="item item-input">
                    <span class="input-label">By Patient</span>
                    <input type="tel" placeholder="5000" ng-required='!txn.visdoc && !txn.material' ng-model="txn.patient">
                </label>
                <label class="item item-input">
                    <span class="input-label">Material</span>
                    <input type="tel" placeholder="3000" ng-required='!txn.patient && !txn.visdoc' ng-model="txn.material">
                </label>
                <label class="item item-input">
                    <span class="input-label">Visiting Doc</span>
                    <input type="tel" placeholder="2000" ng-required='!txn.patient && !txn.material' ng-model="txn.visdoc">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">Add Transaction</button>
            </div>
        </form>
    </ion-view>
</ion-content>
<ion-footer-bar>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" href="#/">
            <i class="icon ion-ios7-home positive"></i>
            Doctors
        </a>
        <a class="tab-item" href="#/patientDetails/{{patientInd}}/{{doctorIndex}}">
            <i class="icon ion-ios7-arrow-back positive"></i>
            Back
        </a>
    </div>
</ion-footer-bar>