<ion-header-bar class="bar bar-positive item-input-inset">
    <a href="#/" ng-if="!search.searchIcon" class="button button-icon ion-ios7-arrow-back">
    </a>
    <h1 class="title" ng-if="!search.searchIcon">{{doctorDetails.name}}</h1>
    <div class="bar bar-header item-input-inset bar-positive" ng-if="search.searchIcon">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" class="positive" ng-model="search.searchText" placeholder="Search">
        </label>
        <button class="button button-clear" ng-click="searchClicked()">
            Cancel
        </button>
    </div>
    <button class="button button-icon icon  ion-ios7-search-strong" ng-click="searchClicked()"
            ng-if="!search.searchIcon"></button>
</ion-header-bar>
<ion-content>
    <ion-view view-title="DoctorDetails">
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i>
                {{doctorDetails.address}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios7-telephone"></i>
                {{doctorDetails.phone}}
            </a>
        </div>
        <ion-list class="mt20">
            <ion-item class="item-divider mb20 text-center">Patients</ion-item>
            <div class="list card">
                <a ng-repeat="(key, data) in doctorDetails.patients | filter:search.searchText" ui-sref="patient-details({ patientIndex: key, doctorInd: doctorInde })" class="item item-icon-left">
                    <i class="icon ion-person"></i>{{ data.name}}
                </a>
            </div>
        </ion-list>
    </ion-view>
</ion-content>
<ion-footer-bar>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" href="#/">
            <i class="icon ion-ios7-home positive"></i>
            Doctors
        </a>
        <a class="tab-item" ui-sref="add-patient({ doctorInd: doctorInde })">
            <i class="icon ion-ios7-plus positive"></i>
            Add Patient
        </a>
        <a class="tab-item" href="#/">
            <i class="icon ion-ios7-compose positive"></i>
            Edit
        </a>
        <a class="tab-item" href="#/">
            <i class="icon ion-ios7-trash assertive"></i>
            Delete
        </a>
    </div>
</ion-footer-bar>