<ion-view>
    <ion-nav-title>{{doctorDetails.name}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
            <div class="list card">
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-card"></i>
                    {{doctorDetails.address}}
                </a>
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-ios7-telephone"></i>
                    {{doctorDetails.phone}}
                </a>
            </div>
            <ion-list class="mt20">
                <ion-item class="item-divider mb20 text-center">Patients</ion-item>
                <div class="row" ng-show="pat.tog">
                    <div class="col-offset-20">
                    </div>
                    <div class="col-offset-20"></div>
                    <div class="col-20 text-center"><i class="icon ion-man fs30"></i></div>
                    <div class="col-20 text-center"><i class="icon ion-flask fs30"></i></div>
                    <div class="col-20 text-center"><i class="icon ion-android-contacts fs30"></i></div>
                </div>
                <div class="list card">
                    <a ng-repeat="(key, data) in doctorDetails.patients | filter:search.searchText"
                       ng-class="{'small-font' : pat.tog , 'item-icon-left' : !pat.tog}"
                       ui-sref="app.patient-details({ patientIndex: key, doctorInd: doctorInde })" class="item">
                        <i class="icon ion-person" ng-if="!pat.tog"></i>{{data.name}}
                        <div class="row" ng-if="pat.tog">
                            <div class="col-offset-34">
                            </div>
                            <div class="col-25 text-center">{{data.patient}}</div>
                            <div class="col-25 text-center">{{data.material}}</div>
                            <div class="col-25 text-center">{{data.visdoc}}</div>
                        </div>
                    </a>
                </div>
            </ion-list>
    </ion-content>
    <ion-footer-bar>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" ui-sref="app.add-patient({ doctorInd: doctorInde })">
                <i class="icon ion-ios7-plus positive"></i>
                Add Patient
            </a>
            <a class="tab-item" href="#/app/editDoctor/{{doctorInde}}">
                <i class="icon ion-ios7-compose positive"></i>
                Edit
            </a>
            <a class="tab-item" ng-click="doctorfunc.removeDoc(doctorInde);" href="#/">
                <i class="icon ion-ios7-trash assertive"></i>
                Delete
            </a>
            <a class="tab-item" ng-click="pat.expand();">
                <i class="icon" ng-class="{'ion-plus-round dark' : !pat.tog , 'ion-minus-round dark' : pat.tog}"></i>
                <span ng-bind="pat.tog ? 'Collapse All' : 'Expand All'"></span>
            </a>
        </div>
    </ion-footer-bar>
</ion-view>