<ion-side-menus>
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-stable" align-title="center">
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="right" width="myWidthValue +185">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header mt20">
            <ion-list>
                <ion-item nav-clear menu-close ng-click="logout();">
                Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>