<ion-view>
    <ion-nav-title>{{patientDetails.name}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="row">
                <div class="col-50">
                    <div class="item item-icon-left">
                        <i class="icon ion-medkit"></i>
                        {{patientDetails.illness}}
                    </div>
                </div>
                <div class="col-50">
                    <div class="item item-icon-left">
                        <i class="icon ion-ios7-telephone"></i>
                        {{patientDetails.phone}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-50">
                    <div class="item item-icon-left">
                        <i class="icon ion-cash"></i>
                        Rs. {{patientDetails.fees}}
                    </div>
                </div>
                <div class="col-50">
                    <div class="item item-icon-left">
                        <i class="icon ion-ios7-pie-outline"></i>
                        Rs. {{patientDetails.share}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-50">
                    <div class="item item-icon-left">
                        <i class="icon ion-calendar"></i>
                        {{patientDetails.startDate}}
                    </div>
                </div>
            </div>
        </div>
        <ion-list class="mt20">
            <ion-item class="item-divider mb20 text-center">Transactions</ion-item>
            <div class="list card">
                <a ng-repeat="(key, data)  in patientDetails.transactions" style="text-decoration:none;"
                   href="#/app/txnedit/{{patientInd}}/{{doctorIndex}}/{{key}}">
                    <div class="row">
                        <div class="col-10">
                            <div class="item item-icon-left" style="margin-top: 40px">
                                <i class="icon"><strong ng-bind="data.payment === false ? 'P' : 'R'"></strong></i>
                            </div>
                        </div>
                        <div class="col-90">
                            <div class="row">
                                <div style="width:53%;">
                                    <div class="item item-icon-left small-font">
                                        <i class="icon ion-calendar"></i>
                                        {{data.date}}
                                    </div>
                                </div>
                                <div class="col-40">
                                    <div class="item item-icon-left small-font">
                                        <i class="icon ion-man"> </i>
                                        Rs. {{data.patient}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div style="width:53%;">
                                    <div class="item item-icon-left small-font">
                                        <i class="icon ion-flask"></i>
                                        Rs. {{data.material}}
                                    </div>
                                </div>
                                <div>
                                    <div class="item item-icon-left small-font">
                                        <i class="icon ion-android-contacts"></i>
                                        Rs. {{data.visdoc}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" href="#/app/doctors">
                <i class="icon ion-ios7-home positive"></i>
                Doctors
            </a>
            <a class="tab-item" href="#/app/txnAdd/{{patientInd}}/{{doctorIndex}}">
                <i class="icon ion-ios7-plus positive"></i>
                Add Transaction
            </a>
            <a class="tab-item" href="#/app/editPatient/{{patientInd}}/{{doctorIndex}}">
                <i class="icon ion-ios7-compose positive"></i>
                Edit
            </a>
            <a class="tab-item" href="#/app/doctor-patients/{{doctorIndex}}"
               ng-click="patientfunc.removePat(patientInd,doctorIndex);">
                <i class="icon ion-ios7-trash assertive"></i>
                Delete
            </a>
        </div>
    </ion-footer-bar>
</ion-view>