<ion-header-bar class="bar bar-positive">
    <h1 class="title title-center">{{patientDetails.name}}</h1>
</ion-header-bar>
<ion-content>
    <ion-view view-title="DoctorDetails">
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i>
                {{patientDetails.address}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios7-telephone"></i>
                {{patientDetails.phone}}
            </a>
        </div>
        <ion-list class="mt20">
            <ion-item class="item-divider mb20 text-center">Transactions</ion-item>
            <ion-item ng-repeat="patient in doctorDetails.patients | filter:search.searchText"
                      ui-sref="patient-details({ patientIndex: $index, doctorInd: doctorInde })">
                {{ patient.name}}
            </ion-item>
        </ion-list>
    </ion-view>
</ion-content>
<ion-footer-bar>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" href="#/">
            <i class="icon ion-ios7-home positive"></i>
            Doctors
        </a>
        <a class="tab-item" href="#/">
            <i class="icon ion-ios7-arrow-back positive"></i>
            Patients
        </a>
        <a class="tab-item" ui-sref="add-patient({ doctorInd: doctorInde })">
            <i class="icon ion-ios7-plus positive"></i>
            Add Transaction
        </a>
        <a class="tab-item" href="#/">
            <i class="icon ion-ios7-compose positive"></i>
            Edit
        </a>
        <a class="tab-item" href="#/">
            <i class="icon ion-ios7-trash assertive"></i>
            Delete
        </a>
    </div>
</ion-footer-bar>