<ion-view>
    <ion-nav-title>Report</ion-nav-title>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="mt20">
        <form name="form" ng-submit="report.submit();">
            <div class="list">
                <label class="item item-input item-icon-left">
                    <i class="icon ion-calendar"></i>
                    <span class="input-label ml35">From Date</span>
                    <input type="date" ng-required="true" ng-model="report.from">
                </label>
                <label class="item item-input item-icon-left">
                    <i class="icon ion-calendar"></i>
                    <span class="input-label ml35">To Date</span>
                    <input type="date" ng-required="true" ng-model="report.to">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">Submit</button>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" href="#/app/doctors">
                <i class="icon ion-ios7-home positive"></i>
                Doctors
            </a>
        </div>
    </ion-footer-bar>
</ion-view>