<ion-view>
    <ion-nav-title>Report</ion-nav-title>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="mt20">
        <form name="form" ng-submit="report.submit();">
            <div class="list">
                <label class="item item-input item-icon-left">
                    <i class="icon ion-calendar"></i>
                    <span class="input-label ml35">From Date</span>
                    <input type="date" ng-required="true" ng-model="report.from">
                </label>
                <label class="item item-input item-icon-left">
                    <i class="icon ion-calendar"></i>
                    <span class="input-label ml35">To Date</span>
                    <input type="date" ng-required="true" ng-model="report.to">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">Submit</button>
            </div>
        </form>
        <div class="list card">
            <label class="item item-input">
                <span class="input-label">Clinics</span>
                <span class="ml30">20</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Patients</span>
                <span class="ml30">12</span>
            </label>
            <label class="item item-input">
                <span class="input-label">New Patients</span>
                <span class="ml30">12</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Revenue</span>
                <div class="row">
                    <div class="col-33 text-center"><i class="icon ion-man fs30"></i></div>
                    <div class="col-33 text-center"><i class="icon ion-flask fs30"></i></div>
                    <div class="col-33 text-center"><i class="icon ion-android-contacts fs30"></i></div>
                </div>
            </label>
            <label class="item item-input">
                <span class="input-label"></span>
                <div class="row">
                    <div class="col-33 text-center">123568</div>
                    <div class="col-33 text-center">234129</div>
                    <div class="col-33 text-center">345124</div>
                </div>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" href="#/app/doctors">
                <i class="icon ion-ios7-home positive"></i>
                Doctors
            </a>
        </div>
    </ion-footer-bar>
</ion-view>