.round{
    border-radius:100%;
}
.mt10{
    margin-top:10px;
}
.mt20{
    margin-top:20px;
}
.mb20{
    margin-bottom:20px;
}
.ml70{
    margin-left: 70px !important;
}
.ml35{
    margin-left:35px;
}
.title-center{
    text-align: center !important;
}
.col-10 {
    border: solid #cccccc;
}

.col-90{
    border: solid #cccccc;
}

.small-font{
    font-size: small;
}
.fs30{
    font-size: 30px;
}